html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins";
    margin: 0;
    /* min-height: 500vh; */
    background-color: #EAEAEA
}
button {
    font-family: "Poppins";
    font-weight: 700;
    transition-duration: 300ms;
    /* transition:background color ease-in; */
}
button:hover {
    cursor: pointer;
}
header {
    background-color: #0C1B24;
}
section {
    min-height:100vh;
    position: relative;
    top: 0;
}
main {
    height:80vh;
    width: 80%;
    margin: auto;
    /* border: 3px solid red; */
}


/* secondary NavBar  */

.sub-navigation {
    display: none;
    transition-duration: 500ms;
}

.sub-nav-bg {
    min-height: 5%;
    position: absolute;
    z-index: 0;
    width: 100%;
}
.sub-nav-container {
    background-color: rgba(25, 50, 66, 0.3);
    position: fixed;
    top: 0;
    z-index: 50;
}
a {
    width: 100%;
    display: contents;
}
.sub-logo {
    width:3%;
    position: relative;
    z-index: 1;
}
.sub-icon {
    width: 70%;
}
 .title-tag {
    margin:0;
    margin-top: 4%;
    position: fixed;
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 900;
    z-index: 100;
    top: 0;
    width: 100%;
    display: none;
    transition-duration: 500ms;
}


/* End of secondary NavBar  */



/* NavBar */

.styled, .description-btns button{
    text-transform:capitalize;
    border: 0;
    line-height: 1.4;
    padding: 0 0.55em;
    font-size: 1rem;
    text-align: center;
    color: #000;
    border-radius: 15px;
    background-color: #FF4D4D;   
}
.navbar .nav-items {
    display: flex;
}
.styled {
    line-height: 1.6;
}
.nav-btn-item button:hover{
    color: #ff4d4d;
    background-color: #191B37;
}




.nav-icons {
    margin: 0;
    padding: 0;
}

.logo {
    width: 8.5%;
}
.icon {
    width: 95%;
}

.navbar ul li, ul a {
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    color: #fff;;
    text-transform: capitalize;
}

.nav-container {
    background-color: rgba(25, 27, 55, 1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    transition-duration: 500ms;
}

.navbar{
    width: 80%;
    margin:auto;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky;
    top:0; */
}

.nav-item {
    padding: 0 1.2em;
}
.nav-item a {
    width: 7em;
    padding: .25rem 0;
    background: rgba(25, 50, 66, 0.3);
    text-align: center;
    border-radius: 20px;
    transition-duration: 300ms;
}
.nav-item a:hover {
    background: rgba(30, 61, 80, 0.6);
}
.nav-item a:active {
    background: rgb(34, 68, 88);
}

.nav-icon {
    padding: 0 0.1em;
}
.nav-icon a{
    opacity: 0.65;
    text-align: center;
    transition-duration: 300ms;
}
.nav-icon a:hover{
    opacity: 2;
}


.fixed {
    transition-duration: 500ms;
    display:unset;
}
.unset{
    /* position: fixed; */
    transition-duration: 500ms;
    display: none;
}
.active a, .active a:hover{
    color: #fff;
    background-color: rgb(31, 81, 112);
}
.active a:active {
    background-color:rgb(34, 68, 88);
}
/* End of navbar */


/* hero */


.hero-img {
    position:absolute;
    height: 82%;
    width: 50%;
    bottom: 0%;
    z-index: 0;
}

.hero-container {
    /* border:1px solid yellow; */
    height: 100vh;
    position: relative;
    top: 0;
    z-index: 1;
    color:#fff;
    width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 1.2;
}
.left {
    padding-left: 6em;
    line-height:10;
    margin-top: 10%;
}
.right{
    padding-right: 3em;
    line-height:10;
    margin-top: 10%;
}
.left h3, .right h3 {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 500;
    line-height:3;

}
.left h1, .right h1 {
    text-transform: capitalize;
    font-size: 6rem;
    font-weight: 900;
    line-height:1.5;
}


.hero-btn{
    border: 0;
    height: 3em;
    width: 10.8em;
    line-height: 1.4;
    padding: 0.6 0.6em;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    color: #000;
    border-radius: 20px;
    background-color: #FF4D4D;   
}
.hero-btn:hover {
    color: #ff4d4d;
    background-color: #0C1B24;
    cursor: pointer;
}
.more:hover {
    background-color: #193242;
}



/* about me section*/

.main-sec {
    min-height: 100vh;
    max-height: 100vh;
    position:relative;
    top: 0;
    /* border:none; */
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.title h1 {
    font-size: 2rem;
    font-weight: 700;
}
.title, .mini-box-img .title h1{
    width:100%;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    position: absolute;
    margin-top: 0.7em;
    z-index: 2;
}
.box-img {
    width:100%;
    align-items: center;
    border-radius: 3.571em;
    background-color: rgba(25, 50, 66, 0.0095); 
    /* background-color: lightblue;  */
    min-height:38.125em;
    max-height:38.125em;
    margin: 0 4em;
    margin-top: 4%;
    z-index: 0;
    position: relative;
}
.box-img img, .mini-box-img img {
    width:98.0%;
    opacity: 0.9;
}
.box{
    font-size: 1.01rem;
    line-height: 2;
    margin: 3em;
    text-align: justify;
    margin-top: 0.3em;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.skill-list {
    text-transform:uppercase;
    font-size: .8rem;
    text-align: center;
}
.skill-list span {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: .2em .5em;
}
.about-me .iconify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin: .8em;
}


/* Projects section*/
.mini-box-img img {
    position: relative;
    width:103%;
    right:1.85%;
}
/* #projects .main-sec {
    margin-top: 1em;
}  */

.box-container .title h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1.1rem;
}
.mini-box {
    font-size: 1.01rem;
    line-height: 1;
    margin: 0;
    padding: 6em 0;
    text-align: center;
}
.mini-box-img{

    min-width:56.665%;
    max-width:56.665%;
    /* align-items: center; */
    border-radius: 2.171em;
    /* background-color: aqua; */
    min-height:20.85em;
    max-height:20.85em;
    margin-right: 0.5em;


    z-index: 0;
    position: relative;
}
.title-sec {
    position: relative;
    z-index: 2;
    max-width: 95%;
}
.interior-img {
    position:absolute;
    top: 0;
    max-width: 96%;
}

.box-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 6%;
}
.mini-box-img .title{
margin-top: 0.5em;
z-index: 5;
}

.full-card {
    display: flex;

    margin: 1.5em 4em;
}
.description {
    position: relative;
    text-align: justify;
    /* background-color: cadetblue; */
    margin: 0.8em 0 ;
    min-width: 50%;
    max-width: 14em;
    height: 19em;
}
.text{
    font-style: normal;
    font-size: 1rem;
    font-weight:300;
    line-height: 1.15;
    text-align: left;
}

.description-btns {
    position: relative;
    text-align: center;
    bottom: 1;
    width:100%;

}
.description-btns button{
    width: 4em;
    margin: 0 1em;

}

.description-btns button:hover{
    background-color: #fff;
    color: #FF4D4D;
}


/* More about me Section */
.more-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em 0;
}

.small-card .mini-box-img{
    min-width: 100%;
    max-width: 100%;
    min-height: 15.85em;
    max-height: 15.85em;
}
.small-card .title-sec {
    max-width: 85%;
    left:11px;
}
.small-card .title {
    max-width: 92%;
}
.small-card .mini-box {
    padding:4em 0;
}

.mini-box-container:nth-child(1) {
    margin-right: 5em;
   }
.mini-box-container:nth-child(2) {
    margin-left: 5em;
   }
   

.mini-box-container {
    margin-top: 15%;
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(2, 1fr);
}

.small-card .mini-box-img .title h1 {
    font-size: 1rem;
  }
  
   .mini-box-img .title h1 {
    margin-top: 0;
}


/* contact me section */
.contact-me-bg {
    min-height: 90vh;
    max-height: 90vh;
    background-color: rgba(25, 50, 66, 1);
    /* border: 2px solid yellow; */
}

#contact {
    position:relative;
}

.top-img, .bottom-img {
    position:absolute;
    z-index:0;
}
.top-img {
    left: 0;
    top: 0;
}
.bottom-img {
    right:0;
    bottom:0;
}
.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;


}
.contact-box {
    margin-top: 15%;
    position: relative;
    display: flex;
    border-radius: 2em;
    background-color: rgba(18, 36, 47, 1);
    position: relative;
    /* border: 2px solid white; */
    min-width: 79.489%;
    max-width: 79.489%;
    min-height: 72.149%;
    max-height: 72.149%;
    z-index:1;
}
.contact-form {
    /* border: 1px solid red; */
    position:absolute;
    width: 53%;
    height:100%;
    right:0;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;

}
.success {
    position: absolute;
    z-index: 0;
    left: 33%;
    bottom: 35%;
}
.success-animation {
    width: 100%;
    height: 100vh;
    background-size: cover;
    pointer-events: none;
}
.image-side {
    /* border: 1px solid blue; */
    position:relative;
    height:100%;
}

.env {
    position: absolute;
    top: 26%;
    right: 24%;
}
.env-text {
    position: absolute;
    z-index:-1;
    text-align: center;
    color: white;
    font-size: 7rem;
    font-weight: 500;
    top: 55%;
    left: 35%;
    opacity: 0;
}


/* form */
.heading {
    margin:2em 2em 2em;
    color: #fff; 
    font-weight: 500;
    font-size: 2.25rem;
}
.heading h3 {
    color:rgba(255, 52, 0, 0.6);
    font-size: 1.5rem;
}
form, form a {
    margin: 2em;
    font-weight:200;
    font-size: .9rem;
    color:rgba(156, 156, 156, 1)
}
.input-grp {
    margin-bottom: 3em;
    position: relative;
}
.msg {
    margin-bottom: 1.5em;
}
input, textarea {
    width:90%;
    max-width: 90%;
    padding:.5em .5em .2em;
    outline: 0;
    border: 0;
    color:#fff;
    background: transparent;
    font-weight: 300;
    font-size: .9rem;
}
input {
    border-bottom: 1px solid rgba(128, 128, 128, 1);
    max-width: 80%;
}
textarea {
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: .7em;
    font-size: .9rem;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    padding: .7em;
    transition: 200ms;
}

form a{
    margin: 0;
}
.submit-btn span {
    font-weight: 500;
    color: #fff;
    margin-left: 1.5em;
}


.submit-btn button{
    text-transform:capitalize;
    border: 0px solid;
    /* line-height: 1.4; */
    padding: .2em 0.8em;
    font-size: .9rem;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    border-radius: 13px;
    background-color: #FF4D4D;  
    width: 7em;
    margin: 0 1.5em 0 .5em;

}
.submit-btn button:hover{
    background-color: rgba(0, 0, 0, 0);
    /* border:.1px solid #ff4d4d; */
    color: #FF4D4D;
}

input:focus~label, input:valid~label {
    padding-left: 0.3em;
    top: -1.6em
}
textarea:focus~label, textarea:valid~label{
    padding-left: 0.3em;
    top: -2.5em
}

.name-email {
    display: flex;
    justify-content:space-between;
}
.sm-nav-btn-item {
    display: none;
}



/* Footer */
footer ,footer p {
    position: relative;
    text-align: center;
    margin:0;
    z-index: 3;
}
footer p {
    margin: 2.5em;
    font-size: 0.85rem;
    font-weight: 300;
    color: rgb(70, 70, 70);

}

@media (max-width: 1024px) {
    .nav-item {
        padding: 0 0.02em ;
    }
    .nav-icons {
        display: none;
    }
    .navbar {
        justify-content: space-between;
    }
    .nav-btn-item {
        display: none;
    }
    .sm-nav-btn-item {
        display: block;
    }
    .nav-items {
        justify-content: space-between;
    }
    .hero-container {
        width:90%;
    }
    .left h3, .right h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height:2;
    
    }
    .left h1, .right h1 {
        font-size: 4.3rem;
        font-weight: 900;
        line-height:1.2;
        margin-bottom: 0;
    }
    .hero-btn {
        font-size: 1rem;
    }




    
}

@media (max-width: 1440px) { 
    main {
        width:85%;
    }
    .nav-item {
        padding: 0 0.5em;
    } 
    .navbar {
        width: 85%;
        z-index: 20;
        position: relative;
    }
    
    .sub-nav-container {
        z-index: 25;
    }
    .hero-container {
        width: 85%;
    }
    
    /* header section */
    .left h3, .right h3 {
        line-height: 1.5;
        margin-top: 4rem;
    }
    .left h1, .right h1 {
        line-height: 1.2;
        margin: 2rem 0 1rem 0;
    }

    /* about section */
    .box-img {
        margin: 15% 1em 3em; 
        /* background-color: limegreen; */
        min-height: 30rem;
        max-height: 30rem;

    }
    .title-tag {
        margin-top: 4.5%;
        font-size: 2rem;
    }
    .box-img img {
        width: 95%;
    }
    .box p {
        margin: 0;
    }
    .box, .box p {
        margin-bottom: 0;
        line-height: 1.5;
    }
    .title h1 {
        margin: 0;
        font-size: 1.85rem;
    }


    /* projects */
    .box-container {
        margin-top: 4%;
    }
    .full-card {
        max-height: 15em;
        margin: 2em 3em 0 1.5em;
    }
    .description {
        margin: .05em 0;
    }
    .text {
        line-height: 1;
    }
    .text {
        font-style: normal;
        font-size: .925rem;
        font-weight:300;
        line-height: 1.15;
        text-align: left;
    }
    .mini-box-img {
        min-height: 15em;
        max-height: 15em;
    }
    .text p {
        margin-top: .2em;
        margin-bottom: .5em;
    }
    .mini-box-img .title {
        margin-top: .2em;
    }


    /* contact page */
    .top-img, .bottom-img {
        width: 40%;
    }
    .c-bg {
        width: 72%;
        height: 100%;
    }
    .env {
        right: 45%;
    }
    .heading {
        margin: .7em;
        margin-bottom: .3em;
        font-size: 2rem;
    }
    .heading h1 {
        margin-top: .8em;
        margin-bottom: .1em;
    }
    .heading h3 {
        margin-top: 0;
        margin-bottom: .3em;
    }


    .success {
        position: absolute;
        z-index: 0;
        left: 30%;
        bottom: 20%;
    }
    .env {
        position: absolute;
        top: 10%;
        right: 34%;
    }
    .env-text {
        position: absolute;
        z-index:-1;
        text-align: center;
        color: white;
        font-size: 5rem;
        font-weight: 500;
        top: 60%;
        left: 30%;
    }

    form {
        margin-top: 1.3em;
    }
    
    footer p {
        margin: 2em;
    }
    
        
    }